.main {
  width: 400px;
  margin: 50px auto;
  /* border: 1px solid red; */
}
.title {
  font-family: cursive;
  margin-left: 20px;
  color: rgb(102, 133, 42);
}

.formContainer {
  width: 300px;
  margin-left: 20px;
}

.textfield {
  height: 37px;
}

.weatherContainer {
  margin-left: 20px;
}

.p {
  font-family: cursive;
  color: rgb(109, 172, 16);
}

.p_warning {
  font-family: cursive;
  color: red;
}
